name: Documentation

on:
  push:
    branches: [ main ]

jobs:
  api_docs:
      name: Build Api Documentation
      runs-on: ubuntu-20.04
      steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
            token: ${{ secrets.NEWRELIC_PAT }}
            submodules: recursive

      - name: Install Dependencies
        run: |
            sudo apt-get install -y doxygen

      - name: Build Documentation
        run: |
            ./tools/update-api-documentation.bash main
            exit 0
